<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VKFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1123F7B1CDE3411001B064D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1123F971CDE3411001B064D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1123FA21CDE3411001B064D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
